/* League of Boatwrights CSS =========================================*/

/* COLOR PALETTE =====================================================*/
/* (if you use any custom styles anywhere, add them below as well for easy reference later)
  e.g.:
  #80ced6
 */


/* GLOBAL STYLES =====================================================*/

html {

}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {

}

p {

}

a {

}


/* HEADER STYLES =====================================================*/
.path-frontpage h1.page-header {
  text-align: center;
}







/* MAIN CONTENT STYLES ===============================================*/

/*Home Page ===============================*/

/*Slogan ===================*/
.path-frontpage .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item{
  text-align: center;
  margin-bottom: 2%;
}
/*Center Image ==========*/
.field--name-field-home-page-image {
  width: 700px;
  margin: 0 auto;
}

/*Links at bottom ==========*/
.field--type-link.field--label-hidden.field--item{
  display: inline-block;
  padding-left: 50px;
  padding-top: 20px;
  font-size: x-large;
  margin-left: 30px;
}
.path-frontpage .navbar-default {
  background-color: white;
  border: white;
}

.field.field--name-field-boatyard-thumb.field--type-image.field--label-visually_hidden,
.field.field--name-field-icon-image.field--type-image.field--label-visually_hidden,
.field.field--name-field-homepage-icon-image.field--type-image.field--label-visually_hidden,
.field.field--name-field-academy-icon-image.field--type-image.field--label-visually_hidden,
.field.field--name-field-chandlery-icon-image.field--type-image.field--label-visually_hidden{
  display: inline-block;
  width: 100px;
  margin-top: 5%;
  margin-left: 10%;
}

.field--item a:hover {
  background: #f0f0f0;
}

.field.field--name-field-boatyard-thumb.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Boatyard';
   text-align: center;
   width: 100%;
   display: inline-block;
 }

.field.field--name-field-icon-image.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Boatyard';
   text-align: center;
   width: 100%;
   display: inline-block;
 }

.field.field--name-field-homepage-icon-image.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Boatyard';
   text-align: center;
   width: 100%;
   display: inline-block;
 }

.field.field--name-field-academy-icon-image.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Boatyard';
   text-align: center;
   width: 100%;
   display: inline-block;
 }

.field.field--name-field-chandlery-icon-image.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Boatyard';
   text-align: center;
   width: 100%;
   display: inline-block;
 }



/*Boat log entry ==================================*/
.field--type-image .field--item {
  display: inline-block;
}
.field--type-image .field--item:first-child {
  display:block
}


/* FOOTER STYLES =====================================================*/


