/* League of Boatwrights CSS =========================================*/

/* COLOR PALETTE =====================================================*/
/* (if you use any custom styles anywhere, add them below as well for easy reference later)
  e.g.:
  #80ced6
 */


/* GLOBAL STYLES =====================================================*/

html {

}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya SC', Georgia, serif;
    font-weight: 700;
}

h1.page-header {
    //font-family: 'Poiret One', sans-serif;
    font-size: 55px;
}

.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item {
    //font-family: 'Poiret One', sans-serif;
    position: relative;
    top: 360px;
    font-size: 16px;
    color: white;
}

p {
}

a {
}


/* HEADER STYLES =====================================================*/
h1.page-header {
  text-align: center;
}
/* MAIN CONTENT STYLES ===============================================*/

/*Home Page ===============================*/

body.path-frontpage.page-node-type-home-page {
    background: url(images/homepage-background-1x550.png);
    background-repeat: repeat-x;
    background-position: top;
    background-size: 1px 575px;
}
body.user-logged-in.path-frontpage.page-node-type-home-page {
    background-size: 1px 700px;
}
/*Slogan ===================*/
.path-frontpage .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item{
  text-align: center;
  margin-bottom: 2%;
}
/*Center Image ==========*/
.field--name-field-home-page-image {
  width: 300px;
  margin: 0 auto 6% auto;
}
.user-logged-in .field--name-field-home-page-image {
    margin: 0 auto 17% auto;
}

.path-frontpage .navbar-default {
  background-color: transparent;
  border: transparent;
  margin: 0 auto;
}
.field.field--name-field-boatyard-thumb.field--type-image.field--label-visually_hidden,
.field.field--name-field-icon-image.field--type-image.field--label-visually_hidden,
.field.field--name-field-homepage-icon-image.field--type-image.field--label-visually_hidden,
.field.field--name-field-academy-icon-image.field--type-image.field--label-visually_hidden,
.field.field--name-field-chandlery-icon-image.field--type-image.field--label-visually_hidden{
  display: inline-block;
  width: 100px;
  margin: 3% 5.4%;
}
.field.field--name-field-icon-image.field--type-image.field--label-visually_hidden:hover{
    background-color: black;
}
/*.field--item a:hover {*/
  /*background: #f0f0f0;*/
/*}*/

.field.field--name-field-boatyard-thumb.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Boatyard';
   text-align: center;
   width: 100%;
   display: inline-block;
   font-size: large;
   padding-top: 10%;
 }

.field.field--name-field-icon-image.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Designs';
   text-align: center;
   width: 100%;
   display: inline-block;
   font-size: large;
   padding-top: 10%;
 }

.field.field--name-field-homepage-icon-image.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Boatwrights';
   text-align: center;
   width: 100%;
   display: inline-block;
   font-size: large;
   padding-top: 10%;
 }

.field.field--name-field-academy-icon-image.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Academy';
   text-align: center;
   width: 100%;
   display: inline-block;
   font-size: large;
   padding-top: 10%;
 }

.field.field--name-field-chandlery-icon-image.field--type-image.field--label-visually_hidden .field--item > a::after {
   content: 'Chandlery';
   text-align: center;
   width: 100%;
   display: inline-block;
   font-size: large;
   padding-top: 10%;
}
/*Boat log entry ==================================*/
.field--type-image .field--item {
  display: inline-block;
}
.field--type-image .field--item:first-child {
  display:block
}
/*Boat Designs*/
.field.field--name-description.field--type-text-long.field--label-hidden.field--item {
    float: left;
    width: 52%;
    height: 32vh;
    margin-top: 2%;
}
.field.field--name-field-design-photo.field--type-image.field--label-hidden.field--items {
    float: right;
    width: 45%;
    height: 32vh;
}
.field.field--name-field-design-photo.field--type-image.field--label-hidden.field--items {
    /* height: 0%; */
    width: 45%;
    float: right;
}
/*Coming Soon ==========================*/
.field--name-field-coming-soon-image {
    margin: 1% auto 5%;
    width: 300px;
}


/* FOOTER STYLES =====================================================*/

.footer {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 2px solid #E5E5E5;
    text-align: center;
}

.footer::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #eee;
}

/* Footer links ==========*/
.footer .field--type-link {
    display: inline-block;
    margin: 0 5%;
}

.footer .field--type-link a {
    padding: 15px 15px;
}

/* Footer icon ==========*/
.footer .field--name-field-footer-thumb img {
    margin: 5% auto;
}

/* Footer mission statement ==========*/
.footer .field--name-field-mission-statement {
    max-width: 600px;
    margin: 30px auto 50px auto;
}

/* Footer copyright ==========*/
.footer .field--name-field-copyright-footer {
    margin: 15px auto;
}

@media (min-width: 768px) {

}