/* League of Boatwrights CSS =========================================*/

/* COLOR PALETTE =====================================================*/
/* (if you use any custom styles anywhere, add them below as well for easy reference later)
  e.g.:
  #80ced6
 */


/* GLOBAL STYLES =====================================================*/

html {

}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {

}

p {

}

a {

}


/* HEADER STYLES =====================================================*/








/* MAIN CONTENT STYLES ===============================================*/

.field--type-image .field--item {
  display: inline-block;
}
.field--type-image .field--item:first-child {
  display:block
}
/* FOOTER STYLES =====================================================*/


